@model Marka
@{
    ViewData["Title"] = "Detail";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>@Model.Name</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <a asp-action="Index" class="btn btn-outline-info"><span class="fa fa-arrow-left"></span></a>
        </div>
    </div>
</div>

