@model Partner
@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src="~/img/@Model.Image" width="220px" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <form method="post">
                <p class="text-danger">Are you sure this delete?</p>
                <input type="submit" class="btn btn-danger" value="Delete" />
            </form>

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <a asp-action="Index" class="btn btn-outline-info"><span class="fa fa-arrow-left"></span></a>
        </div>
    </div>
</div>


