
@{
    ViewData["Title"] = "Admin";
}
@*<div style="width:100%;" class="justify-content-center d-flex">
    <img src="~/admin/assets/img/dash.jpg" alt="Alternate Text" style="width:80%;height:500px;" />
</div>*@


