
@{
    ViewData["Title"] = "FailedConfirmation";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger my-5">
                Biz sizin e-poçtunuzu təsdiq edə bilmədik.Xahiş edirik,yenidən cəhd edin.
            </div>
            <a class="btn btn-outline-link" style="color:black;" href="/">Əsas səhifə</a>>
        </div>
    </div>
</div>

