
@{
    ViewData["Title"] = "VerifyEmail";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success my-5">
                Biz sizin e-poçtunuza təsdiq mesajı göndərdik.Zəhmət olmasa yoxlayın
            </div>
            <div class="pb-4">
                <a class="btn btn-outline-link"style="color:black;"  href="/">Əsas səhifə</a>
                <a class="btn btn-outline-success" href="/Account/Login">Daxil ol</a>
            </div>
            
        </div>
    </div>
</div>

